{% extends "base.html" %}

{% block contenido %}

<div class="container-fluid p-4">
    <div class="col pb-5">
        <h2 class="pb-3 text-center" >HISTORIAL</h2>
        <div class="col">
            <form method="GET" action="{% url 'filtrar_por_mes' %}">
                <div class="col-md-3">
                    <label for="mes">Seleccionar Mes:</label>
                    <style>
                        .form-control {
                            width: auto; /* Ajusta automáticamente el ancho al contenido */
                            display: inline-block; /* Permite que el select se adapte al contenido */
                        }
                        .move-right {
                            margin-left: 5px; /* Mueve el botón 5 píxeles a la derecha */
                        }
                    </style>
                    
                    <select class="form-control" id="mes" name="mes">
                        <option value="seleccion"></option>
                        <option value="1" {% if mes_actual == 1 %} selected {% endif %}>Enero</option>
                        <option value="2" {% if mes_actual == 2 %} selected {% endif %}>Febrero</option>
                        <option value="3" {% if mes_actual == 3 %} selected {% endif %}>Marzo</option>
                        <option value="4" {% if mes_actual == 4 %} selected {% endif %}>Abril</option>
                        <option value="5" {% if mes_actual == 5 %} selected {% endif %}>Mayo</option>
                        <option value="6" {% if mes_actual == 6 %} selected {% endif %}>Junio</option>
                        <option value="7" {% if mes_actual == 7 %} selected {% endif %}>Julio</option>
                        <option value="8" {% if mes_actual == 8 %} selected {% endif %}>Agosto</option>
                        <option value="9" {% if mes_actual == 9 %} selected {% endif %}>Septiembre</option>
                        <option value="10" {% if mes_actual == 10 %} selected {% endif %}>Octubre</option>
                        <option value="11" {% if mes_actual == 11 %} selected {% endif %}>Noviembre</option>
                        <option value="12" {% if mes_actual == 12 %} selected {% endif %}>Diciembre</option>
                    </select>                
                
                    <label for="año">Año:</label>
                    <input type="number" id="año" name="año" min="1982" max="2099" step="1" value="{{ año_actual }}" />
                    <button type="submit" class="btn btn-primary move-right">Buscar</button>
                </div>                
        
                <table class="table table-hover table-striped table-bordered mt-3" id="example">
                
                    <thead style="background-color: #8be4e4; color: #121213;">
                        
                        <th style="width: 200px;">FECHA</th>
                        <th class="text-center">TIPO</th>
                        <th class="text-center">CONCEPTO</th>
                        <th class="text-center">INVERSIÓN</th>
                        <th class="text-center">INGRESOS A CAJA</th>
                        <th class="text-center">PRESTAMO</th>
                        <th class="text-center">COBROS</th>
                        <th class="text-center">CRÉDITOS</th>
                        <th class="text-center">RENOVACIONES</th>
                        <th class="text-center">SALARIOS</th>
                        <th class="text-center">PRESTAMOS TRABAJADORES</th>
                        <th class="text-center">SALIDAS</th>
                        <th class="text-center">TOTAL</th>

                    </thead>
                    <tbody>
                        {% for item in registros %}
                        <tr>
                            
                            <td class="text-center" style="font-size: 18px; width: 200px;" >{{ item.fecha|default_if_none:'-' }}</td>
                            <td class="text-center" style="font-size: 20px;">{{ item.tipo|default_if_none:'-' }}</td>
                            <td class="text-center" style="font-size: 20px;">{{ item.concepto|default_if_none:'-' }}</td>
                            <td class="text-center" style="font-size: 20px;">{{ item.inversion|default_if_none:'-' }}</td>
                            <td class="text-center" style="font-size: 20px;">{{ item.ingresos_a_caja|default_if_none:'-' }}</td>
                            <td class="text-center" style="font-size: 20px;">{{ item.prestamo|default_if_none:'-' }}</td>
                            <td class="text-center" style="font-size: 20px;">{{ item.cobros|default_if_none:'-' }}</td>
                            <td class="text-center" style="font-size: 20px;">{{ item.creditos|default_if_none:'-' }}</td>
                            <td class="text-center" style="font-size: 20px;">{{ item.renovaciones|default_if_none:'-' }}</td>
                            <td class="text-center" style="font-size: 20px;">{{ item.salarios|default_if_none:'-' }}</td>
                            <td class="text-center" style="font-size: 20px;">{{ item.prestamos_trabajadores|default_if_none:'-' }}</td>
                            <td class="text-center" style="font-size: 20px;">{{ item.salidas|default_if_none:'-' }}</td>
                            <td class="text-center" style="font-size: 20px;">${{ item.total|default_if_none:'-' }}</td>                         
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

                
            </form>
        </div> 
    </div>
</div>
{% endblock %}
